*{
     padding: 0;
     margin: 0;
     box-sizing: border-box;
     font-family: 'poppins';
}

body{
     width: 100vw;
     height: 100vh;
     display: flex;
     justify-content: center;
     align-items: center;
     background-color: black;
}

main{
     border-radius: 25px;
     background: linear-gradient(145deg, #e6e6e6, #ffffff);
     /* box-shadow: 10px 10px 25px #e6e6e6, -10px -10px 25px #ffffff; */
     padding: 25px 50px;
     width: 500px;
}

h1{
     text-align: center;
}

.selection{
     display: flex;
     gap: 25px;
     margin-bottom: 15px;
}

.selection .from,
.selection .to{
     width: 50%;
     display: flex;
     flex-direction: column;
}

.selection .from label,
.selection .to label{
     width: 100%;
     font-size: 12px;
}

.selection .from select,
.selection .to select{
     background-color: transparent;
     border-radius: 10px;
     border: 0.5px solid grey;
     padding: 5px;
}
form{
     position: relative;
     margin-bottom: 20px;
}

form .number{
     /* position: relative; */
     width: 100%;
     padding: 5px 15px;
     border-radius: 15px;
     outline: none;
     border: 0.25px solid grey;
     background-color: transparent;
}

form .convert{
     position: absolute;
     right: 0;
     padding: 5px 25px;
     border-radius: 15px;
     outline: none;
     border: 0.25px solid grey;
     /* border: none; */
     border-top-left-radius: 0;
     border-bottom-left-radius: 0;
     background-color: transparent;
}

.output{
     font-size: 12px;
}